.container-projects {
    padding: var(--padding-desktop);
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
}

.container-projects .projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 6.5rem 4.275rem;
}

.card-project {
    width: 100%;
    min-height: 25rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    &:hover {
        transform: scale(1.02);
        transition: transform 0.3s ease-in-out;
    }
}

.card-project figure {
    width: 100%;
    max-height: 100%;
    overflow: hidden;
    border-left: 0.4rem solid var(--brand-color);
    border-radius: 0.4rem;
}

.card-project figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.infos-project {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
}

.title-project {
    font-size: 2.4rem;
    font-weight: 500;
}

.description-project {
    color: var(--text-color);
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 2.6rem;
}

.technologies-project {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.subtitle-technologies {
    color: var(--brand-color);
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 2.4rem;
}

.container-projects .wrapper-buttons-project {
    width: auto;
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1.8rem;
}

.container-projects .button-gradient-red-purple a button {
    gap: 1.3rem;
}

.container-projects .load-more {
    margin-top: 1.8rem;
    align-self: center;
}

@media (max-width: 480px) {
    .container-projects {
        padding: var(--padding-mobile);
    }

    .container-projects .projects {
        display: flex;
        flex-direction: column;
        gap: 4rem;
    }

    .title-project {
        font-size: 2rem;
    }

    .description-project {
        font-size: 1.4rem;
        line-height: 1.8rem;
    }

    .technologies {
        font-size: 1.5rem;
    }

    .container-projects .wrapper-buttons-project{
        align-items: center;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    .container-projects {
        padding: var(--padding-tablet);
    }

    .container-projects .projects {
        display: flex;
        flex-direction: column;
        gap: 4rem;
    }

    .container-projects .wrapper-buttons-project{
        align-items: center;
    }
}
