.back-to-top {
    width: 4rem;
    height: 4rem;
    bottom: 2rem;
    right: 2rem;
}

.back-to-top-button {
    background: var(--robins-egg-blue-600);
    border: none;
    border-radius: 50%;
    color: white;
    cursor: pointer;
    font-size: 2rem;
    padding: 1rem;
    transition: opacity 0.3s;
}

.back-to-top-button:hover {
    background: var(--brand-color);
}