.wrapper-hero {
    display: grid;
    grid-template-columns: 0.6fr 1fr;
    height: 100vh;
    width: 100%;
    padding: 2.5rem 0 2.5rem 12rem;

    align-items: center;
}

.wrapper-apresentation {
    text-transform: uppercase;
    font-style: uppercase;
    font-weight: 600;
    font-size: 2.4rem;
}

.my-name {
    font-size: 6.4rem;
    color: var(--brand-color);
}

.apresentation-buttos-contact {
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.buttons-contact {
    display: flex;
    gap: 2.4rem;
}

.container-ilustration {
    height: 100%;
    background: url(../../assets/img/looper-bg.svg) no-repeat center;
    background-size: cover;
    transition: all 1s;
}

@media (max-width: 480px) {
    .wrapper-hero {
        display: flex;
        padding: var(--padding-mobile);
    }

    .wrapper-apresentation {
        font-size: 1.6rem;
    }

    .my-name {
        font-size: 3.2rem;
    }

    .wrapper-hero {
        display: flex;
        justify-content: center;
        padding: 2.6rem;
    }

    .apresentation-buttos-contact {
        justify-content: center;
        align-items: center;
    }

    .buttons-contact {
        align-items: center;
    }

    .wrapper-apresentation {
        font-size: 1.6rem;
        text-align: center;
    }

    .container-ilustration {
        display: none;
    }

    .buttons-contact {
        flex-direction: column;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    .wrapper-hero {
        display: flex;
        justify-content: center;
        padding: var(--padding-tablet);
    }

    .apresentation-buttos-contact {
        justify-content: center;
        align-items: center;
    }

    .wrapper-apresentation {
        font-size: 2rem;
        text-align: center;
    }

    .my-name {
        font-size: 5.5rem;
    }

    .container-ilustration {
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .wrapper-hero {
        grid-template-columns: 1fr 0.9fr;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .wrapper-hero {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 1200px) and (max-width: 1919px) {
    .wrapper-hero {
        grid-template-columns: 1fr 1.5fr;
    }
}

@media (min-width: 1920px) {
    /* Estilos para telas maiores ou iguais a 1920px */
}
