/* Animations */
.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

/* delay */
.card-1-animation-delay {
    transition-delay: 0.0s;
}

.card-2-animation-delay {
    transition-delay: 0.15s;
}

.card-3-animation-delay {
    transition-delay: 0.3s;
}