@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
    html {
        scroll-behavior: smooth;
    }

    body {
        @apply bg-white text-gray-800 dark:bg-dark-10 dark:text-white font-sans text-base;
        @apply font-sans text-base;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply font-poppins;
    }

    p,
    span,
    li {
        @apply font-inter;
    }

    button {
        @apply cursor-pointer;
    }
}

@layer utilities {
    .title-section {
        @apply font-poppins font-bold text-3xl md:text-4xl text-gray-900 dark:text-white
    }
}

@theme {
    --color-brand: #00d2df;
    --color-dark-10: #121212;
    --color-dark-20: #151515;
    --color-dark-30: #c4c4c4;
    --color-text: #e0e0e0;
    --color-gray: #222;

    --font-poppins: 'Poppins', sans-serif;
    --font-inter: 'Inter', sans-serif;

    --color-support-01: #2962ff;
    --color-support-02: #0bb07b;
    --color-support-03: #ffce52;
    --color-support-04: #f03d3d;
    --color-support-05: #e0e0e0;

    --color-brand-purple: #9358f7;
    --color-brand-red: #d24074;
    --color-brand-blue: #10d7e2;
    --color-brand-purple-dark: #6518b4;

    --button-purple-blue-gradient: linear-gradient(
        to bottom left,
        #9358f7,
        #10d7e2
    );
    --button-red-purple-gradient: linear-gradient(
        to bottom left,
        #d24074,
        #6518b4
    );

    --color-brand-blue-50: #ebfffe;
    --color-brand-blue-100: #ceffff;
    --color-brand-blue-200: #a2fdff;
    --color-brand-blue-300: #63f8fd;
    --color-brand-blue-400: #1ceaf4;
    --color-brand-blue-500: #00d2df;
    --color-brand-blue-600: #03a4b7;
    --color-brand-blue-700: #0a8294;
    --color-brand-blue-800: #126878;
    --color-brand-blue-900: #145665;
    --color-brand-blue-950: #063a46;

    --padding-desktop: 2.4rem 6.4rem;
    --padding-tablet: 2rem 4rem;
    --padding-mobile: 1.5rem;
}
