@import 'tailwindcss';

@layer base {
    html {
        scroll-behavior: smooth;
    }
    body {
        @apply bg-white text-gray-800 dark:bg-dark-10 dark:text-white font-sans text-base;
    }
    button {
        @apply cursor-pointer;
    }
}

@theme {
    --color-brand: #00d2df;
    --color-dark-10: #121212;
    --color-dark-20: #151515;
    --dark-30: #c4c4c4;
    --color-text-color: #e0e0e0;
    --gray: #222;

    --font-family-sans: 'Inter', 'Montserrat', sans-serif;
    
    --color-support-01: #2962ff;
    --color-support-02: #0bb07b;
    --color-support-03: #ffce52;
    --color-support-04: #f03d3d;
    --color-support-05: #e0e0e0;

    --button-purple-blue-gradient: linear-gradient(
        to bottom left,
        #9358f7,
        #10d7e2
    );
    --button-red-purple-gradient: linear-gradient(
        to bottom left,
        #d24074,
        #6518b4
    );

    /* https://uicolors.app/create */
    --color-robins-egg-blue-100: #ceffff;
    --color-robins-egg-blue-50: #ebfffe;
    --color-robins-egg-blue-200: #a2fdff;
    --color-robins-egg-blue-300: #63f8fd;
    --color-robins-egg-blue-400: #1ceaf4;
    --color-robins-egg-blue-500: #00d2df;
    --color-robins-egg-blue-600: #03a4b7;
    --color-robins-egg-blue-700: #0a8294;
    --color-robins-egg-blue-800: #126878;
    --color-robins-egg-blue-900: #145665;
    --color-robins-egg-blue-950: #063a46;

    --padding-desktop: 4rem 12rem;
    --padding-tablet: 3rem 6rem;
    --padding-mobile: 2.6rem;
}