@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        scroll-behavior: smooth;
    }

    body {
        @apply bg-white text-gray-800 dark:bg-dark-10 dark:text-white font-sans text-base;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply font-poppins;
    }

    p,
    span,
    li {
        @apply font-inter;
    }

    button {
        @apply cursor-pointer;
    }
}

@layer utilities {
    .title-section {
        @apply font-poppins font-bold text-3xl md:text-4xl text-gray-900 dark:text-white mb-4 text-center
    }
}