.container-experience {
    padding: var(--padding-desktop);
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
}

.container-all-experiences {
    display: grid;
    grid-template-columns: .35fr 1fr;
}

.companies {
    display: flex;
    flex-direction: column;
}

.company {
    flex: 1;
}

.companies .company {
    padding: 1.5rem 3.5rem;
    border-left: 1px solid var(--dark-30);
    opacity: 0.8;
}

.companies .company:active, .companies .company:focus {
    background-color: var(--gray); 
    border-left: 2px solid var(--brand-color);
    color: var(--brand-color);
    font-weight: 300;
    opacity: 1;
}

.experience {
    display: flex;
    flex-direction: column;
    gap: 2.6rem;
}

.experience-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.experience-header .office {
    font-size: 2.4rem;
    font-weight: 500;
}

.experience-company {
    color: var(--brand-color);
    font-weight: 500;
    line-height: 2.4rem;
}

.experience-description {
    color: var(--dark-30);
    font-size: 1.8rem;
    font-weight: 300;
}

@media (max-width: 480px) {
    .container-experience {
        padding: var(--padding-mobile);
    }

    .container-all-experiences {
        display: flex;
        flex-direction: column;
    }
    
    .container-all-experiences .companies {
        display: flex;
        margin-bottom: 3rem;
        overflow: scroll;
    }

    .companies .company {
        padding: 1.2rem 2.8rem;
        border-left: none;
        border-bottom: 1px solid var(--dark-30);
        opacity: 0.8;
    }

    .companies .company:active, .companies .company:focus {
        border-bottom: 2px solid var(--brand-color);
        border-left: none;
    }

    .experience {
        gap: 1.6rem;
    }

    .experience-header {
        flex-direction: column;
        gap: 1.6rem;
    }

    .experience-header .office {
        font-size: 1.6rem;
    }

    .start-finish {
        font-size: 1.4rem;
    }

    .experience-company {
        font-size: 1.4rem;
        text-align: center;
    }

    .experience-description {
        font-size: 1.5rem;
    }
}    


@media (min-width: 481px) and (max-width: 767px) {
    .container-experience {
        padding: var(--padding-tablet);
    }

    .container-all-experiences {
        grid-template-columns: .6fr .8fr;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .container-all-experiences {
        grid-template-columns: .5fr .8fr;
    }
}