#footer {
    background: linear-gradient(180deg, var(--dark-20) 1%, var(--dark-10) 100%);
    padding: var(--padding-desktop);

    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

#footer div {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 1.5rem;
}

#footer div nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
#footer div nav ul li a {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    color: var(--white);
    text-decoration: none;
}

#footer .developed-by span {
    text-align: end;
}

#footer .developed-by span a {
    text-decoration: none;
    color: var(--white);
}

@media (max-width: 480px) {
    #footer {
        padding: var(--padding-mobile);
        flex-direction: column;
    }

    #footer .developed-by span {
        text-align: start;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    #footer {
        padding: var(--padding-tablet);
    }
}
